
/* Checkbox Button Group Fix */

.btn-check:focus:not(:checked)+.btn.btn-outline-primary {
    background-color: #fff;
    color: #0d6efd
}
.btn-check:focus:not(:checked)+.btn.btn-outline-success {
    background-color: #fff;
    color: #198754
}
.btn-check:focus:not(:checked)+.btn.btn-outline-info {
    background-color: #fff;
    color: #0dcaf0
}
.btn-check:focus:not(:checked)+.btn.btn-outline-warning {
    background-color: #fff;
    color: #ffc107
}
.btn-check:focus:not(:checked)+.btn.btn-outline-danger {
    background-color: #fff;
    color: #dc3545
}
